@model ProductsListViewModel
@foreach (var p in Model.Products){
	<div>
		<h2>@p.Name</h2>
		@p.Description
		<h3>@p.Price.ToString("c")</h3>
	</div>
}
<div page-model="@Model.PagingInfo" page-action="List"></div>
